body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    background: url(http://clipart-library.com/img/1152325.jpg) no-repeat center center fixed; 
    }

  .container {
    margin: 20px auto;
    width: 500px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
  }

  h1 {
    text-align: center;
    background-color: rgba(165, 42, 42, 0.445);
  }

  form {
    padding: 0 0 20px;
  }

  input#new-product {
    display: block;
    width: 478px;
    border-radius: 3px;
    border: 2.5px solid #009b15;
    padding: 10px;
    font-size: 18px;
    background-color: rgba(83, 83, 83, 0.26);
   
  }

  ul#productlist {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 2px solid #000000;
    background-color: transparent;
  }

  ul#productlist li {
    padding: 5px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    background-color: transparent;
  }

  ul#productlist li:hover {
    background-color: #e6e6e6;
  }

  ul#productlist .product.bought textarea {
    text-decoration: line-through red ;
    color: #999;
  }

  .footer {
    margin-top: 10px;
    background: red;
    color: #e6e6e6;
    padding: 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .footer a:link,
  .footer a:hover,
  .footer a:visited {
    color: #e6e6e6;
    text-decoration: none;
  }

  .footer a:hover {
    text-decoration: underline;
  }

input#quantity {
  margin: 3px auto;
  border-color: black;
  border-width: 0.5px;
  width: 40px;
  height: 27px;
  text-align: center;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
}

input[type="checkbox"]{
  transform: scale(1.5);
  margin-right: 3%;
}

textarea {
  resize: none;
  border-color: white;
  margin: 3px auto;
  width: 350px;
  height: 27px;
  text-align: left;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  height: 27px;
  background-color: transparent;
}